*{box-sizing:border-box;}
header{
    position: relative;
    display:block;
    background-image: url(home.jpg);
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: 'pacifico', cursive;
}

/* Style the top navigation bar */
.topnav{
    overflow: hidden;
    width: 100%;
} 

.topnav a{
    float: right;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans';
    padding: 7px;
}

/* changing color on hover */
.topnav a:hover{
    color:lightslategray;
}

.cvlogo{
    width:120px;
    height: 50px;
    padding: 5px;
    float: left;
}

/* Creating two unequal columns that floats next to each other for first row */
.leftcolumn{
    float: left;
    width: 50%;
    padding: 5px;
}
.rightcolumn{
    float: left;
    width:50%;
    padding:5px;
}
.card{
    padding: 10px;
    margin-top:20px;
}

/* clear floats after the columns */
.row:after{
    content: "";
    display: table;
    clear: both;
}

/* Creating two unequal columns that floats next to each other for second row */
.leftcolumn2{
    float: left;
    width: 50%;
    padding: 5px;
}
.rightcolumn2{
    float: left;
    width:50%;
    padding:5px;
}
.card{
    padding: 10px;
    margin-top:20px;
}

/* clear floats after the columns */
.row2:after{
    content: "";
    display: table;
    clear: both;
}
.footer{
    text-align: center;
    padding: 20px;
    color: black;
    background-color: rgb(238, 238, 99);
}

h2{
    font: size 30px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: Bold;
}

/*Responsive Layouto- when the screen is less than 1000px wide */
@media screen and (max-width: 1000px) {
    header{
        float:left;
        max-width: 100%;
    }
    .leftcolumn{
        float:left;
        width:100%;
    }
    .rightcolumn{
        float:left;
        width:100%;
    }
    
    .leftcolumn2{
        float: left;
        width: 60%;
        padding: 5px;
    }
    .rightcolumn2{
        float: left;
        width:40%;
        padding:5px;
    }
    .footer{
        float:left;
        width:100%;
    }
}

@media screen and (max-width: 600px) {
    header{
        background-size: cover;
        background-position: center;
    }
    .leftcolumn, .rightcolumn, .leftcolumn2, .rightcolumn2 .footer{
        float:left;
        width:100%
    }
}